<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reviews</title>
    <link rel="stylesheet" href="main.css">
</head>
 

<header>
    <p>reviews - by NiNaru</p>
    <div id="login">
        <!-- a área de login deve sumir depois de estar logado -->
        <input type="text" title="usuario" placeholder="usuario">
        <input type="password" title="senha" placeholder="senha">
        <input type="submit" id="btt" title="enviar">
    </div>

</header>

<body>
   
    <div class="container">

        <div class="post">
            <!-- os campos de postagem ficam desabilitados enquanto não logar-->
            <a href="/anime1"><h4>lain</h4></a>
            <img src="./img/lain.jpeg"><br>
            <textarea id="descrition" placeholder="digite sua opnião aqui"></textarea><br>
            <input type="button" id="btt" title="enviar">
        </div>

        <div class="post">
            <a href="/anime2"><h4>charlotte</h4></a>
            <img src="./img/charlotte.jpg"><br>
            <textarea id="descrition" placeholder="digite sua opnião aqui"></textarea><br>
            <input type="button" id="btt" title="enviar">
        </div>
    </div>


    <div class="container">
        <div class="post">
            <h4 id="anime3">Code Geass</h4>
            <img src="./img/CodeGeass.jpeg"><br>
            <textarea id="descrition" placeholder="digite sua opnião aqui"></textarea><br>
            <input type="button" id="btt" title="enviar">
        </div>

        <div class="post">
            <h4 id="anime4">Steins Gate</h4>
            <img src="./img/SteinsGate.jpeg"><br>
            <textarea id="descrition" placeholder="digite sua opnião aqui"></textarea><br>
            <input type="button" id="btt" title="enviar">
        </div>
    </div>

</body>


<footer>
    <section id="paginate">
        <div class="pagin">
            <div class="first">&#171;</div>
            <div class="prev">&lt;</div>
            <div class="numbers">
                <div>1</div>
            </div>
            <div class="next">&gt;</div>
            <div class="last">&#187;</div>
        </div>
    </section>
</footer>


</html>